<mat-tab-group mat-align-tabs="start" style="padding-top: 40px; padding-left: 2%; padding-right: 2%;">
    <mat-tab label="AO VIVO">
        <div fxLayout="row wrap" fxLayoutAlign="start center" style="padding: 2%;">
            <ng-container *ngFor="let lofi of lofiLive" style="margin: 0.5%;">

                <mat-card class="mat-card-live" fxFlex="0 1 calc(33.3% - 11px)"
                fxFlex.lt-md="0 1 calc(50% - 11px)"
                fxFlex.lt-sm="100%">
                    <mat-card-title class="mat-card-title-live">
                      <div class="row">
                        <p>
                          <span style="font-size: 1.4rem;" fxFlex="100" fxLayoutAlign="start center">{{lofi.lofiName}}</span>
                          <span fxFlex></span>
                        </p>
                          <p style="font-size: 1.0rem;">
                            <span fxFlex="100" fxLayoutAlign="end center">- {{lofi.channelName}}</span>
                           </p>


                      </div>
                      
                    </mat-card-title>
                   
                    <mat-card-content fxLayoutAlign="center center">
                      <div>
                        <iframe width="560" height="315" [src]="lofi.urlSafe" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                      </div>
                    </mat-card-content>
                    
                  </mat-card>

            </ng-container>
        </div>
    </mat-tab>
    <mat-tab label="VIDEOS">
      <div fxLayout="row wrap" fxLayoutAlign="start center" style="padding: 2%;">
        <ng-container *ngFor="let lofi of lofiCompleted" style="margin: 0.5%;">

          <mat-card class="mat-card-live" fxFlex="0 1 calc(33.3% - 11px)"
          fxFlex.lt-md="0 1 calc(50% - 11px)"
          fxFlex.lt-sm="100%">
              <mat-card-title class="mat-card-title-live">
                <div class="row">
                  <p>
                    <span style="font-size: 1.4rem;" fxFlex="100" fxLayoutAlign="start center">{{lofi.lofiName}}</span>
                    <span fxFlex></span>
                  </p>
                    <p style="font-size: 1.0rem;">
                      <span fxFlex="100" fxLayoutAlign="end center">- {{lofi.channelName}}</span>
                     </p>


                </div>
                
              </mat-card-title>
             
              <mat-card-content fxLayoutAlign="center center">
                <div>
                  <iframe width="560" height="315" [src]="lofi.urlSafe" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
              </mat-card-content>
              
            </mat-card>

      </ng-container>
      </div>
    </mat-tab>
</mat-tab-group>